<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnonChat Page!</title>
</head>
<body>
    <div class="messages" style="display: inline-block; 
                                border: 1px solid black; padding: 20px;
                                border-radius: 20px;">

        {% for m in messages %}
            <p style="display: table;
                    border: 0.5px solid black; padding: 10px;
                    border-radius: 10px;"> {{ m.message }} </p>
        {% endfor %}

    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
</body>
</html>

